<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <title>围棋</title>
  <style>
    body{
      /* background-color:red; */
    }
    canvas{
      /* background-color:white; */
    }
    #Test{
      /* display: flex;
      flex-direction:column-reverse; */
    }
    #Test textarea{
      width:20em;
    }
  </style>
</head>

<body>
  <canvas id="C" width="800" height="600"></canvas>
  <textarea id="T" rows="20"></textarea>
  <button id="RePlay">复现棋谱</button>
  <button id="palyGame" onclick="palyGame()">开始游戏</button>
  <script th:src="@{/js/jquery.min.js?v=3.6.3}"></script>
  <script th:inline="javascript">
    var id = [[${id}]]
  </script>
    <script src="/js/main.js"></script>

</body>

<script>

</script>
</html>
